# .vscode/

__pycache__/

**/*.pyc

/build/

notes/pseudocode/

generators/generate_primary_thread_source.ipynb
generators/generate_wordlist_header.ipynb
generators/generate_words_header.ipynb
generators/generate_indexes_header.ipynb


